.comment_card {
    display: flex;
    
    flex-direction: column;
    width: 756px;
    /* background-color: rgb(228, 91, 91); */
    background-color: rgb(174, 196, 243);
    margin-bottom: 5px;
    margin-top: 10px;
    padding-left: 10px;
    
    border-radius: 10px;
    
    
}

.comment_card h2, .comment_card h4, .comment_card p {
    color: rgb(0, 0, 0);
    
    width: fit-content;
    margin-right: 10px;
}

.comment_card_bottom {
    display: flex;
    justify-content: space-between;
    width: 155px;
   
    margin-left: 20px;
    margin-bottom: 10px;
    
}
.comment_bottom p, .comment_bottom a {
    background-color: rgb(177, 196, 238);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    color: white;
}
.comment_bottom a {
    
}
.test {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}